img{ 
    width: 200px;
}
body
{   text-align: center;
    font-family: "Comic Sans MS ";
}
body {
    background-color: #ed81f9;
}
p1{
color:red;
    lol
}
#whynot {
    width: 320px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
    float:left; 
}
#ihate{
 width: 320px;
    padding: 10px;
    border: 3px solid orange;
    margin: 0;
    float:left; 
}

#timewarp{
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 1px;
}
a{
color:black;
text-decoration:none;
}
a.visited{
color:blue;
}
a.hover{
color:green;}

a.active{
color:purple;}
