img{ 
    width: 200px;
}
body
{   text-align: center;
    font-family: "Comic Sans MS ";
}
body {
    background-color: #F7D6D0;
}

p1{
color:red;
    lol
}
* {
  box-sizing: border-box;
}

a{
    color:#FB6090;
    text-decoration:none;
    }
a:visited{
    color: #521621;;
    }
a:hover{
color:#821d30;
/*background-color:#FFC5D0;*/
text-decoration: underline;
    }
    
a:active{
    color:#FFC5D0;
}
#please{
    text-decoration: underline #e30b5d dashed;
}
#please:hover{
    color:orange;
}
.colum {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#whynot {
    width: 33.3%;
    padding: 0px;
    border: 3px solid gray;
    margin-left: 4%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    float:left; 
}

#ihate{
 width: 33.3%;
    padding: 0px;
    border: 3px solid orange;
    margin: 0;
    float:right; 
    max-width: 100%;

}
.potatoe{

    padding:10px;
    border: 3px solid green;
    margin: 0;
    float:left;
    max-width: 100%;
}
