img{ 
    width: 200px;
}
body
{   text-align: center;
    font-family: "Comic Sans MS ";
}
body {
    background-color: #ed81f9;
}
p1{
color:red;
    lol
}
* {
  box-sizing: border-box;
}

.colum {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#whynot {
    width: 33.3%;
    padding: 0px;
    border: 3px solid gray;
    margin: 0;
    float:left; 
}
#ihate{
 width: 33.3%;
    padding: 0px;
    border: 3px solid orange;
    margin: 0;
    float:left; 
    max-width: 100%;

}
.potatoe{

    padding:10px;
    border: 3px solid green;
    margin: 0;
    float:left;
    max-width: 100%;
}


a{
color:black;
text-decoration:none;
}
a.visited{
color:green;
}
a.hover{
color:blue;
background-color:light green;
text-decoration: underline;
}

a.active{
color:purple;}
