img{ 
    width: 200px;
}
body
{   text-align: center;
    font-family: "Comic Sans MS ";
}
body {
    background-color: #ed81f9;
}
p1{
color:red;
    lol
}
*{
  box-sizing: border-box;
}
.column{
float: left;
width: 50%;
padding 3px;
}
.row::after{
 content: "";
  clear: both;
  display: table;   
}

#whynot {
    width: 33.3%;
    padding: 0px;
    border: 3px solid gray;
    margin: 0;
    float:left; 
}
#ihate{
 width: 33.3%;
    padding: 0px;
    border: 3px solid orange;
    margin: 0;
    float:left; 
    max-width: 100%;

}
.potatoe{

    padding:10px;
    border: 3px solid green;
    margin: 0;
    float:left;
    max-width: 100%;
}

#timewarp{
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 1px;
}
a{
color:black;
text-decoration:none;
}
a.visited{
color:green;
}
a.hover{
color:blue;
background-color:light green;
text-decoration: underline;
}

a.active{
color:purple;}
